{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<div class="example-wrapper">


    {% if app.user %}
        <h1>Hello {{ app.user.email }}! ✅</h1>
     {% else %} 
        <h1>Bienvenue sur Arnaud land ! !</h1>
    {% endif %}


    {% if app.user == false %}
        <div>
            <a href="{{ path('app_login') }}">Connexion</a>
        </div>
        <div>
            <a href="{{ path('app_register') }}">Inscription</a>
        </div>
        {% else %}
        <div>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>       
    {% endif %}

    {# condition pour vérifier si l'utilisateur est admin affiche le dasboard #}
    {% if  is_granted("ROLE_ADMIN") %} 
        <div>
            <a href="{{ path('app_dashboard_admin') }}">AdminDashboard</a>
        </div>
    {% endif %}
    
{% endblock %}
