{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <div>
        <a href="{{ path('app_login') }}">Connexion</a>
    </div>
    {% if app.user == false %}
        <div>
            <a href="{{ path('app_register') }}">Inscription</a>
        </div>
        {% else %}
        <div>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>       
    {% endif %}
    {# condition pour vérifier si l'utilisateur est admin affiche le dasboard #}
    {% if  is_granted("ROLE_ADMIN") %} 
        <div>
            <a href="{{ path('app_dashboard_admin') }}">AdminDashboard</a>
        </div>
    {% endif %}
    
{% endblock %}
